<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="api.mapper.UserMapper">
    <resultMap id="map" type="api.entity.UserEntity">
        <id column="userid" property="userId"/>
        <result column="username" property="username"/>
        <result column="userAddress" property="userAddress"/>
    </resultMap>

    <select id="findAll" resultMap="map">
        select * from tb_user
    </select>

    <select id="findById" parameterType="java.lang.String" >
        select * from tb_user where userId = #{userId}
    </select>

    <select id="findByUsername" parameterType="java.lang.String">
        select * from tb_user where username = #{username}
    </select>

    <insert id="save" parameterType="api.entity.UserEntity">
        insert into tb_user(userId, username, userAddress) values(#{userId},#{username},#{userAddress})
    </insert>

    <update id="update" parameterType="api.entity.UserEntity">
        update tb_user set userId = #{userId}, username = #{username}, userAddress = #{userAddress} where userId = #{userId}
    </update>

    <delete id="delete" parameterType="api.entity.UserEntity">
        delete from tb_user where userId = #{userId}
    </delete>
</mapper>